.btns {
  margin-top: 38px;
  display: flex;
  & > button {
    width: 330px;
    &:not(:first-child) {
      margin-left: 30px;
    }
    &:nth-child(2) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media (max-width: 1366px) {
  .btns {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .btns {
    margin-top: 20px;
    & > button {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .btns {
    & > button {
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}