.events {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  & > h1 {
    margin-bottom: 15px;
  }
}

.inner {
  display: flex;
  gap: 24px;
  flex: 1;
}

@media (max-width: 1366px) {
  .inner {
    gap: 15px;
  }
}

@media (max-width: 991px) {
  .inner {
    flex-wrap: wrap;
  }
}