@import "./basic";
@import "./vars";

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-left: var(--sidebar-width);
  &.no-pad {
    padding-left: 0;
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--main-pad-top) var(--main-pad-right) var(--main-pad-bot) var(--main-pad-left);
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.icon {
  display: block;
  img,
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: cover;
  }
}

#nprogress {
  z-index: 1001 !important;
}

#nprogress .bar {
  background: #FFC34A !important;
}

.swiper.swiper-fade {
  .swiper-slide {
    opacity: 0 !important;
    &.swiper-slide-active {
      opacity: 1 !important;
    }
  }
}

.swiper-button-lock {
  display: block !important;
}

.swiper-button-disabled {
  opacity: .3;
}

.swiper-slide {
  height: auto !important;
}

.swiper-pagination-bullets {
  width: auto !important;
}

.tab-slider {
  .swiper-wrapper {
    transition-property: transform;
  }
  .swiper-slide {
    opacity: 0 !important;
    transition-duration: 0s !important;
    &.swiper-slide-active {
      opacity: 1 !important;
      transition-duration: .5s !important;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
}







.react-datepicker {
  font-family: inherit !important;
  background-color: transparent !important;
  border: 1px solid #FAFAFB !important;
  padding: 20px 5px 10px 5px;
  &__header {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
  }
  &__month {
    margin: 0 !important;
  }
  &__day-names {
    margin-bottom: 7px !important;
  }
  &__day-name {
    width: 24px !important;
    height: 24px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }
  &__day {
    width: 24px !important;
    height: 24px;
    margin: 2px !important;
    color: rgba(#fff, .8) !important;
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: var(--garient-color);
      opacity: 0;
      transition: opacity .2s ease;
    }
    &--outside-month {
      color: rgba(#fff, .5) !important;
    }
  }
  &__navigation {
    width: 24px !important;
    height: 24px !important;
    opacity: .3;
    @media (hover: hover) {
      transition: opacity .2s ease;
      &:hover {
        opacity: 1;
      }
    }
    @media (hover: none) {
      transition: opacity .1s ease;
      &:active {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('/assets/icons/arrow.svg');
    }
    &--previous {
      transform: rotateY(180deg);
    }
    &-icon {
      display: none;
    }
  }
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover,
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background: none !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  color: rgba(#fff, .8) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  text-align: left !important;
  margin-bottom: 7px;
  padding: 0 8px;
}

.react-datepicker__day-name {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: rgba(#fff, .7) !important;
}

.react-datepicker__day:not(.react-datepicker__day--outside-month) {
  transition: color .2s ease;
  &:hover {
    color: #fff !important;
  }
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  border-radius: 50% !important;
  background: none !important;
  color: #fff !important;
  &::after {
    opacity: 1;
  }
}

.react-datepicker__navigation {
  top: 12px !important;
}

.react-datepicker__navigation--previous {
  right: 25px;
  left: auto !important;
}









.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 60px;
  padding: 0 5%;
}

.fc .fc-toolbar-title {
  font-size: 14px;
  font-weight: 600;
}

.fc-toolbar-chunk > button {
  display: none !important;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0 !important;
}

.fc-direction-ltr .fc-button-group > .fc-button {
  padding: 0;
  border-radius: 0;
  background: none !important;
  border: none !important;
  &:focus,
  &:active {
    box-shadow: none !important;
    background-color: none !important;
    border-color: none !important;
    color: none !important;
  }
}

.fc-theme-standard td, .fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc-daygrid-body {
  border-right: 1px solid rgba(#fff, .1);
  border-bottom: 1px solid rgba(#fff, .1);
}

.fc .fc-scroller-liquid-absolute,
.fc .fc-scroller,
.fc .fc-scroller-harness {
  overflow: visible !important;
}

.fc .fc-daygrid-day {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--garient-color);
    border-radius: 20px;
    opacity: 0;
    transition: opacity .2s ease;
  }
  &.fc-day-today {
    background: none;
    &::after {
      opacity: 1;
    }
  }
}

.fc .fc-highlight {
  background: none;
  position: relative;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--garient-color);
    border-radius: 20px;
    transition: opacity .2s ease;
  }
}

.fc-col-header  {
  margin-bottom: 40px;
}

.fc .fc-col-header-cell-cushion {
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.fc .fc-daygrid-day-number {
  padding: 0;
  font-size: 12px;
  font-weight: 600;
}

.fc .fc-daygrid-day-top {
  justify-content: center;
  padding-top: 50px;
}

.fc-h-event {
  border: none;
  background: var(--garient-color);
  position: relative;
  z-index: 2;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--reversed-garient-color);
    opacity: 0;
  }
  @media (hover: hover) {
    &::before {
      transition: opacity .2s ease;
    }
    &:hover::before {
      opacity: 1;
    }
  }
  @media (hover: none) {
    &::before {
      transition: opacity .1s ease;
    }
    &:active::before {
      opacity: 1;
    }
  }
}

.fc-daygrid-event {
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  white-space: wrap;
}


.fc-icon-chevron-left,
.fc-icon-chevron-right {
  opacity: .5;
  @media (hover: hover) {
    transition: opacity .2s ease;
    &:hover {
      opacity: 1;
    }
  }
  @media (hover: none) {
    transition: opacity .1s ease;
    &:active {
      opacity: 1;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/icons/arrow.svg');
  }
}

.fc-icon-chevron-left {
  transform: rotateY(180deg);
  margin-right: 5px;
}

.fc .fc-scrollgrid-section-sticky > * {
  background: none;
}

.simplebar-track.simplebar-hover {
  .simplebar-scrollbar:before {
    opacity: .8 !important;
  }
}

.simplebar-scrollbar {
  opacity: 0;
  transition: opacity .2s ease 1.5s;
  &.simplebar-visible {
    opacity: 1;
    transition-delay: 0s;
  }
}

.simplebar-scrollbar:before {
  background: #fff !important;
  opacity: .4 !important;
  transition: opacity .2s ease !important;
}

.simplebar-scrollable-y {
  padding-right: 16px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

@media (max-width: 1440px) {
  .tab-slider {
    .swiper-slide {
      width: 100% !important;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding-left: 0;
  }
  .fc-daygrid-event {
    padding: 2px;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 30px;
  }
  .fc .fc-daygrid-day-top {
    padding-top: 25px;
  }
}