.toolbar {
  position: relative;
  // z-index: 10;
  // transition-delay: .3s;
}

.open {
  // z-index: 100;
  // transition-delay: 0s;
  .list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.current {
  cursor: pointer;
}

.list {
  background: #252525;
  border-radius: 10px;
  padding: 27px 45px;
  position: absolute;
  transition: all .2s ease;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.right {
  top: 0;
  right: calc(100% + 10px);
}

.left {
  top: 0;
  left: calc(100% + 10px);
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  & + & {
    margin-top: 16px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 15px
}

.text {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  flex: 1;
}