.link {
  display: flex;
  align-items: center;
  span {
    display: block;
    margin: 20px 0 0 -5px;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
  }
}