.card {
  border-radius: 15px;
  background: var(--main-bg-color);
  padding: 25px 30px;
  max-width: 358px;
  width: 100%;
  h3 {
    margin-bottom: 37px;
  }
}

.count {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 34.5px;
  margin-bottom: 20px;
  text-align: center;
  background: var(--garient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-weight: 700;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}