.block {
  border-radius: 17px;
  background: var(--main-bg-color);
  padding: 17px 25px 26px 25px;
  display: flex;
  flex-direction: column;
  & > h3 {
    margin-bottom: 20px;
  }
}

.chart {
  height: calc(100% - 35px - 20px);
}

@media (max-width: 1366px) {
  .block {
    padding: 15px;
  }
}