.block {
  border-radius: 17px;
  background: var(--main-bg-color);
  padding: 17px 25px 22px 34px;
  display: flex;
  flex-direction: column;
  & > h3 {
    margin-bottom: 20px;
  }
}

.table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 18px;
  display: flex;
}

.headerCell,
.bodyCell {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:nth-child(2) {
    text-align: center;
  }
  &:nth-child(3) {
    text-align: center;
  }
  &:nth-child(4) {
    text-align: center;
  }
}

.headerCell {
  width: calc(100% / 4);
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

.body {
  height: calc(100% - 55px - 17px - 22px);
  overflow: auto;
}

.item {
  display: flex;
}

.item + .item {
  margin-top: 25px;
}

.name {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 4px;
  background: var(--garient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.date {
  color: #A0AEC0;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
}

.count {
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
}

.bodyCell {
  &:last-child {
    .count {
      background: var(--garient-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 1366px) {
  .block {
    padding: 15px;
    & > h3 {
      margin-bottom: 15px;
    }
  }

  .item + .item {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .body {
    height: auto;
    max-height: 400px;
  }
}